@page "/invoice/new"

@using Zip2Clear.Data
@using Microsoft.EntityFrameworkCore
@using Radzen
@using Syncfusion.Blazor.Cards

@inject InvoiceServices invoiceService
@inject VendorServices vendorService
@inject MyDbContext dbContext
@inject NotificationService NotificationService

<h3>New Invoice</h3>

<SfCard Style="width:500px">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Invoice Number:</span>
        </div>
        <input class="form-control" @ref="firstEle" @bind="NewInvoice.Number" />
    </div>
    <br />
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" >Vendor:</span>
        </div>
        <SfAutoComplete TValue="Vendor" TItem="Vendor" DataSource="vendors" @bind-Value="NewInvoice.Vendor" Autofill="true">
            <AutoCompleteFieldSettings Value="Name"/>
        </SfAutoComplete>
    </div>
    <br />
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" >Invoice Date:</span>
        </div>
        <SfDatePicker @bind-Value="invDate" />
    </div>
    <br />
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Department:</span>
        </div>
        <SfAutoComplete TValue="Department" TItem="Department" DataSource="departmentList" @bind-Value="NewInvoice.Department" Autofill="true">
            <AutoCompleteFieldSettings Value="Code"/>
        </SfAutoComplete>
    </div>
    <br />
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Shipping and Handling:</span>
        </div>
        <input class="form-control" @bind="NewInvoice.Shipping" />
    </div>
    <br />
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">Insurance/BOL freight:</span>
        </div>
        <input class="form-control" @bind="NewInvoice.Insurance" />
    </div>
</SfCard>

<button tabindex="0" class="btn btn-info" @onclick="AddNewInvoice"> Save Invoice</button>
<a tabindex="0" href="/invoices" class="btn btn-secondary">Cancel</a>

        
@code {
    DateTime invDate = DateTime.Now;
    private ElementReference firstEle;

    public Invoice NewInvoice { get; set; } = new Invoice();

    public IEnumerable<Vendor> vendors;
    public IEnumerable<Department> departmentList;

    protected override async Task OnInitializedAsync()
    {
        vendors = await dbContext.Vendor.ToListAsync();
        departmentList = await dbContext.Department.ToListAsync();
        NewInvoice.InvoiceId = Guid.NewGuid();
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await firstEle.FocusAsync();
        }
    }

    private async Task AddNewInvoice()
    {
        try
        {
            await invoiceService.AddInvoiceAsync(NewInvoice);
        }
        catch(Exception ex)
        {
            NotificationMessage message = new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Error:", Detail = ex.ToString(), Duration = 40000 };
            ShowNotification(message);
        }
    }

    void ShowNotification(NotificationMessage message)
    {
        NotificationService.Notify(message);
    }
}