@page "/invoices/edit/{InvoiceId}"

@using Zip2Clear.Data

@inject NavigationManager NavigationManager

<h3>@invoice.Vendor.Name #@invoice.InvoiceNumber</h3>

<RadzenTabs>
    <Tabs>
        <RadzenTabsItem Text="Invoice Info">
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Invoice Number:</span>
                </div>
                <input class="form-control" @bind="invoice.InvoiceNumber" />
            </div>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Vendor:</span>
                </div>
                <input class="form-control" />
            </div>
            <br />
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Invoice Date:</span>
                </div>
                <RadzenDatePicker TValue="DateTime?" Date="DateTime.Now" @bind-value="invoice.Date" />
            </div>
            <br />
        </RadzenTabsItem>
        <RadzenTabsItem Text="Items">
            This is where items are entered.
        </RadzenTabsItem>
    </Tabs>
</RadzenTabs>

<button class="btn btn-secondary" @onclick="(() => Cancel())">Cancel</button>
<button class="btn btn-danger" @onclick="(() => DeleteInvoice(invoice))">Delete</button>

@code {
    [Parameter]
    public string? InvoiceId { get; set; }

    [Inject]
    public InvoiceServices service { get; set; }

    private List<Invoice>? Invoices;
    public Invoice? invoice { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Invoices = await service.GetInvoiceAsync();
        await base.OnInitializedAsync();
        await LoadInvoiceAsync();
    }

    private async Task LoadInvoiceAsync()
    {

        invoice = Invoices.FirstOrDefault(i => i.Id.ToString() == InvoiceId);
        await base.OnParametersSetAsync();
    }

    private async Task DeleteInvoice(Invoice invoice)
    {
        await service.DeleteInvoiceAsync(invoice);
        NavigationManager.NavigateTo("/invoices");
    } 

    private async Task Cancel()
    {
        NavigationManager.NavigateTo("/invoices");
    }
}
