@page "/invoices/{InvoiceId}"

@using Zip2Clear.Data
@using Microsoft.EntityFrameworkCore

@inject MyDbContext dbContext
@inject InvoiceServices invoiceService
@inject NavigationManager NavigationManager

@* This is in a mess but the plan is to copy all the code over from InvoiceList.razor instead of embedding it. *@

<h3>@invoice.Vendor?.Name #@invoice.Number</h3>
<CascadingValue Value="invoice" >
    <InvoiceList Close="CloseInvoice"/>
</CascadingValue>

@code {
    [Parameter]
    public string InvoiceId { get; set; }


    public Invoice invoice { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (InvoiceId == "new")
        {
            invoice.InvoiceId = Guid.NewGuid();
            invoice.Date = DateTime.Now;
        }
        else
        {
            await LoadInvoiceAsync();
        }

        await base.OnInitializedAsync();
    }


    private async Task LoadInvoiceAsync()
    {
        invoice = await dbContext.Invoice.FirstOrDefaultAsync(i => i.InvoiceId.ToString() == InvoiceId);
    }

    public void CloseInvoice(string action)
    {
        if (action == "CloseInvoice")
        {
            NavigationManager.NavigateTo("/invoices");
        }
    }
}
